Node-RED_simplified
[{"id":"232a2c29.acd17c","type":"inject","z":"a81acd82.f0dab8","name":"Process input","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":124.4444580078125,"y":566.5713882446289,"wires":[[]]},{"id":"3e2a1c61.7b6b1c","type":"function","z":"a81acd82.f0dab8","name":"edge check punching","func":"/*Produziert 5 Teile pro Arbeitsschritt.\n2 für das Schweißen, 3 für das Fräsen.\n\nTeile sind Sicherheitsrelevant.\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\n\nmsg.payload = Math.round(Math.random()*3*10)/10;\n\nvar punchingOutput = [];\npunchingOutput.push({\n    payload: {\n        weldingPars: 2,\n        millingParts: 3\n    }\n})\n\nreturn [msg, punchingOutput];","outputs":"2","noerr":0,"x":338.2062683105469,"y":570.7616577148438,"wires":[["adbf4f50.7736b8","70bd2ec7.a2dde8","87e4336.b4bd35"],["578bc300.55af64","eeb299c8.9220d"]]},{"id":"279c2ae.97ec3d6","type":"function","z":"a81acd82.f0dab8","name":"temp check","func":"/*Brauch immer 2 Teile von der Stanze\n\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.\nGib immer entsprechend dem tempc Wert aus*/\nvar outputMsgs = [];\n\nif(msg.payload === false) {\n    outputMsgs.push(\n        {payload: {\n        tempc: Math.random() * (4200 - 4000) + 4000\n    }})\n    //todo\n} else {\n    outputMsgs.push(\n        {payload: {\n        tempc: Math.random() * (3500 - 800) + 800\n    }})\n    //todo\n}\n\nreturn outputMsgs;","outputs":1,"noerr":0,"x":1012.3016967773438,"y":515.8411865234375,"wires":[["47fc8c55.63caa4","e8ddad43.94c8b","264abd99.31f7c2","957382e8.a3b0c8"]]},{"id":"eeb299c8.9220d","type":"function","z":"a81acd82.f0dab8","name":"edge check milling","func":"/*Brauch 1 Teil von der Stanze.\n\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\n\nreturn msg;","outputs":1,"noerr":0,"x":639.7618408203125,"y":719.333251953125,"wires":[["12ccff16.5e2919","b95a72f3.fb328"]]},{"id":"c0ddc3aa.a2161","type":"gremlin-query","z":"a81acd82.f0dab8","name":"qualified worker","database":"","gremlin":"/*Wer kann den Sensor checken und \nwer kennt sich mit den Komponenten\nder Stanze aus?*/\n\ng.V().next()","x":1549.0481567382812,"y":578.857177734375,"wires":[["63a5aa36.294a5c"]]},{"id":"6ee62f81.a6e9e","type":"function","z":"a81acd82.f0dab8","name":"check condition and find names","func":"/*Teste vorher Temperatursensor im Büro:\nWenn zwischen 0 und +30°C,\ndann ist der Sensor OK\n\nSortiere worker und schicke entweder Mechaniker\noder TechSupport*/\nif(msg.payload.temperature<=30 && msg.payload.temperature> 0) {\n    msg.payload = msg.payload.worker;\n} else {\n    return \"Temperature Sensor probably broken. Call Tina.\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2336.7141723632812,"y":573.7777404785156,"wires":[["7a4f3d02.2fe164"]]},{"id":"fa536153.0dae3","type":"mqtt in","z":"a81acd82.f0dab8","name":"office temp-sensor check","topic":"sensor","qos":"2","broker":"6202f52d.549124","x":1733.9683227539062,"y":531.7539367675781,"wires":[["ab7a02c.882388"]]},{"id":"24cc72e9.5a5d8e","type":"function","z":"a81acd82.f0dab8","name":"final inspection","func":"/* Wenn ein Fehler auftritt, nimmt\ndie Montage für 30 Sekunden keinen Auftrag\nmehr an und arbeitet nach.\nMontagezeit beträgt 5 Sekunden.\nWarteschlange der Teile wird gelistet.\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1691.269775390625,"y":638.3808898925781,"wires":[["48d3a286.2b453c"]]},{"id":"578bc300.55af64","type":"ui_switch","z":"a81acd82.f0dab8","name":"error welding","label":"switch","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":817.857177734375,"y":536.1586303710938,"wires":[["279c2ae.97ec3d6"]]},{"id":"7a4f3d02.2fe164","type":"ui_toast","z":"a81acd82.f0dab8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"names of qualified workers","x":2618.8890991210938,"y":573.3016052246094,"wires":[]},{"id":"68d05aa6.2a95fc","type":"ui_chart","z":"a81acd82.f0dab8","name":"pieces per time","group":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2065.376953125,"y":638.0633850097656,"wires":[[],[]]},{"id":"3a8326de.fe4e9a","type":"mysql","z":"a81acd82.f0dab8","mydb":"f87fe1c5.e2a2a","name":"edge check: control value","x":967.285888671875,"y":116.98411560058594,"wires":[[]]},{"id":"12ccff16.5e2919","type":"mysql","z":"a81acd82.f0dab8","mydb":"","name":"edge check: save control value and output milling","x":989.3492431640625,"y":764.7618408203125,"wires":[["8f328f9.113327"]]},{"id":"47fc8c55.63caa4","type":"mysql","z":"a81acd82.f0dab8","mydb":"","name":"save temp data and output","x":1432.0953369140625,"y":472.3808898925781,"wires":[["9e7079ae.db6a98"]]},{"id":"48d3a286.2b453c","type":"mysql","z":"a81acd82.f0dab8","mydb":"","name":"save outcome","x":1877.2061225043403,"y":638.730224609375,"wires":[["68d05aa6.2a95fc"]]},{"id":"adbf4f50.7736b8","type":"ui_text","z":"a81acd82.f0dab8","group":"3d19c324.4ed234","order":0,"width":0,"height":0,"name":"","label":"Value - Edge Check:","format":"{{msg.payload}}","layout":"row-spread","x":599.74609375,"y":210.17848205566406,"wires":[]},{"id":"9e7079ae.db6a98","type":"ui_text","z":"a81acd82.f0dab8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1635.4602593315972,"y":472.2221204969618,"wires":[]},{"id":"8f328f9.113327","type":"ui_text","z":"a81acd82.f0dab8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1264.111083984375,"y":764.6031494140625,"wires":[]},{"id":"e8ddad43.94c8b","type":"switch","z":"a81acd82.f0dab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":1293.7302856445312,"y":606.1903381347656,"wires":[["c0ddc3aa.a2161","b95a72f3.fb328"]]},{"id":"b95a72f3.fb328","type":"function","z":"a81acd82.f0dab8","name":"stock","func":"/* \n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1523.5556640625,"y":637.4602355957031,"wires":[["24cc72e9.5a5d8e"]]},{"id":"63a5aa36.294a5c","type":"json","z":"a81acd82.f0dab8","name":"","pretty":false,"x":1702.6297573513455,"y":580.0370347764757,"wires":[["48ea9648.47c6b8"]]},{"id":"48ea9648.47c6b8","type":"function","z":"a81acd82.f0dab8","name":"add topic and toString","func":"msg.topic = \"worker\";\n\n//do some stuff\nreturn msg;","outputs":1,"noerr":0,"x":1891.5186767578125,"y":579.2962341308594,"wires":[["6ddbe5a1.fbd884"]]},{"id":"6ddbe5a1.fbd884","type":"function","z":"a81acd82.f0dab8","name":"wait for both","func":"context.data = context.data || {};\nswitch(msg.topic) {\n    case \"sensor\":\n        context.data.sensor = msg.payload;\n        msg = null;\n        break;\n    case \"worker\":\n        context.data.worker = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\nif(context.data.sensor != null && context.data.worker != null) {\n    var temperature = context.data.sensor;\n    var worker = context.data.worker;\n    context.data = null;\n    return {payload: {\n        temp: temperature,\n        worker: worker\n    }};\n} else { return msg;}","outputs":1,"noerr":0,"x":2112.6299438476562,"y":573.7406921386719,"wires":[["6ee62f81.a6e9e"]]},{"id":"f5ee9011.e27158","type":"inject","z":"a81acd82.f0dab8","name":"working sensor","topic":"","payload":"{\"temperature\":25}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1434.8333740234375,"y":209.1875,"wires":[["5946991b.16cd"]]},{"id":"5946991b.16cd","type":"mqtt out","z":"a81acd82.f0dab8","name":"","topic":"sensor","qos":"","retain":"","broker":"6202f52d.549124","x":1602.3334312438965,"y":236.1250114440918,"wires":[]},{"id":"6cf0bdf4.8c17e4","type":"inject","z":"a81acd82.f0dab8","name":"broken sensor","topic":"","payload":"{\"temperature\":800}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1427.3334312438965,"y":271.68749618530273,"wires":[["5946991b.16cd"]]},{"id":"ab7a02c.882388","type":"json","z":"a81acd82.f0dab8","name":"","pretty":false,"x":1919.0003051757812,"y":532.3333435058594,"wires":[["6ddbe5a1.fbd884"]]},{"id":"a63ecba4.e4f858","type":"ui_gauge","z":"a81acd82.f0dab8","name":"Temperature","group":"a4a4321e.703818","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value | number:1}}°C","min":0,"max":"6000","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"3900","seg2":"4500","x":1451.905029296875,"y":423.92852783203125,"wires":[]},{"id":"264abd99.31f7c2","type":"change","z":"a81acd82.f0dab8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1276.2831420898438,"y":423.9434814453125,"wires":[["a63ecba4.e4f858"]]},{"id":"10adfa68.c5fd2e","type":"inject","z":"a81acd82.f0dab8","name":"errorWelding","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":615.5238952636719,"y":456.6903076171875,"wires":[["cf905b06.956188"]]},{"id":"957382e8.a3b0c8","type":"debug","z":"a81acd82.f0dab8","name":"","active":false,"console":"false","complete":"false","x":1311.4763139997208,"y":530.6904645647321,"wires":[]},{"id":"958d00d6.6b8f18","type":"debug","z":"a81acd82.f0dab8","name":"","active":false,"console":"false","complete":"payload","x":934.0952453613281,"y":414.4998779296875,"wires":[]},{"id":"cf905b06.956188","type":"function","z":"a81acd82.f0dab8","name":"","func":"var errorWelding = {\n    payload: false\n};\nreturn errorWelding;","outputs":1,"noerr":0,"x":784.0953979492188,"y":457.1904296875,"wires":[["958d00d6.6b8f18","279c2ae.97ec3d6"]]},{"id":"70bd2ec7.a2dde8","type":"ui_chart","z":"a81acd82.f0dab8","name":"","group":"3d19c324.4ed234","order":0,"width":0,"height":0,"label":"Edge Check Critical when Value > 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":645.52392578125,"y":161.7856903076172,"wires":[[],[]]},{"id":"83aa4ce4.35dce8","type":"function","z":"a81acd82.f0dab8","name":"MySQL query","func":"timestamp = msg.payload.time;\nsensorID = msg.payload.idSensor;\nvalueType = msg.payload.valueType;\nvalue = msg.payload.value; \n\nvar m = {\n topic : \"INSERT INTO `anelmarius`.`sensor_values` (`timestamp`, `id_sensor`, `value_type`, `value`) VALUES ('\" + timestamp + \"', '\" + sensorID + \"', '\" + valueType + \"', '\" + value + \"');\"     \n };\n\nreturn m;","outputs":1,"noerr":0,"x":744.0953369140625,"y":117.90478515625,"wires":[["3a8326de.fe4e9a"]]},{"id":"87e4336.b4bd35","type":"function","z":"a81acd82.f0dab8","name":"Create Msg","func":"var newMsg = [];\nvar theTime;\n\nnewMsg.push(\n    {payload: {\n        time: new Date().toISOString().slice(0, 19).replace('T', ' '),\n        idSensor: 301,\n        valueType: \"grade\",\n        value: msg.payload\n    }}\n    )\n\nreturn newMsg;","outputs":1,"noerr":0,"x":574.09521484375,"y":117.19046020507812,"wires":[["83aa4ce4.35dce8"]]},{"id":"6202f52d.549124","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"myproductionprocess/tempsensor","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f87fe1c5.e2a2a","type":"MySQLdatabase","z":"","host":"aifb-ls3-vm1.aifb.kit.edu","port":"3306","db":"anelmarius","tz":""},{"id":"3d19c324.4ed234","type":"ui_group","z":"","name":"Sensor Values","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"a4a4321e.703818","type":"ui_group","z":"","name":"Default","tab":"bc244b2c.a1b77","disp":true,"width":"6"},{"id":"4483fd60.62be94","type":"ui_tab","z":"","name":"Production Process","icon":"dashboard"},{"id":"bc244b2c.a1b77","type":"ui_tab","z":"","name":"Test Dashboard","icon":"dashboard"}]
