Node-RED_v02_simplified
[{"id":"232a2c29.acd17c","type":"inject","z":"a81acd82.f0dab8","name":"input punching","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114.4444580078125,"y":566.5713882446289,"wires":[["3e2a1c61.7b6b1c"]]},{"id":"3e2a1c61.7b6b1c","type":"function","z":"a81acd82.f0dab8","name":"edge check punching","func":"/*Produziert 5 Teile pro Arbeitsschritt.\n2 für das Schweißen, 3 für das Fräsen.\n\nTeile sind Sicherheitsrelevant.\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\n\nreturn msg;","outputs":1,"noerr":0,"x":335.34918212890625,"y":563.6188354492188,"wires":[["3a8326de.fe4e9a","578bc300.55af64","eeb299c8.9220d"]]},{"id":"279c2ae.97ec3d6","type":"function","z":"a81acd82.f0dab8","name":"temp check","func":"/*Brauch immer 2 Teile von der Stanze\n\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\nreturn msg;","outputs":1,"noerr":0,"x":779.4445190429688,"y":531.0792846679688,"wires":[["d1198822.596958","47fc8c55.63caa4","e8ddad43.94c8b"]]},{"id":"eeb299c8.9220d","type":"function","z":"a81acd82.f0dab8","name":"edge check milling","func":"/*Brauch 1 Teil von der Stanze.\n\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\n\nreturn msg;","outputs":1,"noerr":0,"x":639.7618408203125,"y":719.333251953125,"wires":[["12ccff16.5e2919","b95a72f3.fb328"]]},{"id":"c0ddc3aa.a2161","type":"gremlin-query","z":"a81acd82.f0dab8","name":"qualified worker","database":"","gremlin":"/*Wer kann den Sensor checken und \nwer kennt sich mit den Komponenten\nder Stanze aus?*/\n\ng.V().next()","x":1247.38134765625,"y":572.1905212402344,"wires":[["7fdf056d.626374"]]},{"id":"6ee62f81.a6e9e","type":"function","z":"a81acd82.f0dab8","name":"check condition and find names","func":"/*Teste vorher Temperatursensor im Büro:\nWenn zwischen -30 und +30°C,\ndann ist der Sensor OK*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1660.6028442382812,"y":572.6666259765625,"wires":[["7a4f3d02.2fe164"]]},{"id":"fa536153.0dae3","type":"mqtt in","z":"a81acd82.f0dab8","name":"office temp-sensor check","topic":"","qos":"2","broker":"","x":1208.9682006835938,"y":524.25390625,"wires":[["7fdf056d.626374"]]},{"id":"24cc72e9.5a5d8e","type":"function","z":"a81acd82.f0dab8","name":"final inspection","func":"/* Wenn ein Fehler auftritt, nimmt\ndie Montage für 30 Sekunden keinen Auftrag\nmehr an und arbeitet nach.\nMontagezeit beträgt 5 Sekunden.\nWarteschlange der Teile wird gelistet.\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1389.6029663085938,"y":631.7142333984375,"wires":[["48d3a286.2b453c"]]},{"id":"578bc300.55af64","type":"ui_switch","z":"a81acd82.f0dab8","name":"error welding","label":"switch","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":612.1428833007812,"y":532.8253784179688,"wires":[["279c2ae.97ec3d6"]]},{"id":"7a4f3d02.2fe164","type":"ui_toast","z":"a81acd82.f0dab8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"names of qualified workers","x":1936.1110229492188,"y":572.1904907226562,"wires":[]},{"id":"68d05aa6.2a95fc","type":"ui_chart","z":"a81acd82.f0dab8","name":"pieces per time","group":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1763.7101440429688,"y":631.396728515625,"wires":[[],[]]},{"id":"d1198822.596958","type":"ui_gauge","z":"a81acd82.f0dab8","name":"temp","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1044.2059936523438,"y":424.2537841796875,"wires":[]},{"id":"3a8326de.fe4e9a","type":"mysql","z":"a81acd82.f0dab8","mydb":"","name":"edge check: control value and output punching","x":708.71435546875,"y":354.126953125,"wires":[["adbf4f50.7736b8"]]},{"id":"12ccff16.5e2919","type":"mysql","z":"a81acd82.f0dab8","mydb":"","name":"edge check: save control value and output milling","x":989.3492431640625,"y":764.7618408203125,"wires":[["8f328f9.113327"]]},{"id":"47fc8c55.63caa4","type":"mysql","z":"a81acd82.f0dab8","mydb":"","name":"save temp data and output","x":1114.4285278320312,"y":465.7142333984375,"wires":[["9e7079ae.db6a98"]]},{"id":"48d3a286.2b453c","type":"mysql","z":"a81acd82.f0dab8","mydb":"","name":"save outcome","x":1575.539313422309,"y":632.0635681152344,"wires":[["68d05aa6.2a95fc"]]},{"id":"adbf4f50.7736b8","type":"ui_text","z":"a81acd82.f0dab8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":976.988037109375,"y":352.34112548828125,"wires":[]},{"id":"9e7079ae.db6a98","type":"ui_text","z":"a81acd82.f0dab8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1333.793450249566,"y":465.55546400282117,"wires":[]},{"id":"8f328f9.113327","type":"ui_text","z":"a81acd82.f0dab8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1264.111083984375,"y":764.6031494140625,"wires":[]},{"id":"e8ddad43.94c8b","type":"switch","z":"a81acd82.f0dab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":992.0634765625,"y":599.523681640625,"wires":[["c0ddc3aa.a2161","b95a72f3.fb328"]]},{"id":"7fdf056d.626374","type":"join","z":"a81acd82.f0dab8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","x":1439.9840698242188,"y":571.5872802734375,"wires":[["6ee62f81.a6e9e"]]},{"id":"b95a72f3.fb328","type":"function","z":"a81acd82.f0dab8","name":"stock","func":"/* \n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1221.8888549804688,"y":630.7935791015625,"wires":[["24cc72e9.5a5d8e"]]}]
