Nodered_Anel
[{"id":"94927a8f.2263","type":"function","z":"1ff27e1b.d1e38a","name":"Stanze-QKontrolle","func":"msg.payload= Math.round(Math.random()*100) + 80;\nreturn msg;","outputs":1,"noerr":0,"x":374.90472412109375,"y":301.04744720458984,"wires":[["e0656706.5e41e8","87577df2.b35b8","e354934c.5fb248","37744e20.aa4b8a","45d01f73.2b9ef8"]]},{"id":"a5758b55.bd528","type":"function","z":"1ff27e1b.d1e38a","name":"Schweißen-QKontrolle","func":"msg.payload= Math.round(Math.random()*360) + 400;\nreturn msg;\n","outputs":1,"noerr":0,"x":830.6667022705078,"y":301.8412399291992,"wires":[["6bc08a78.6f060c","be13e86.7ca5998","9eb3b0a9.f8987","1e792818.3f45f"]]},{"id":"e354934c.5fb248","type":"function","z":"1ff27e1b.d1e38a","name":"Fräsen-Qkontrolle","func":"msg.payload= Math.round(Math.random()*5) + 4;\nreturn msg;","outputs":1,"noerr":0,"x":832.6507568359375,"y":492.42852783203125,"wires":[["2d980dce.2e01b2","2ce98162.5a6b4e","c43ce6a6.4ae7c","4e484f5d.75f9d8"]]},{"id":"f204b548.512f28","type":"gremlin-query","z":"1ff27e1b.d1e38a","name":"qualified worker","database":"","gremlin":"/*Wer kann den Sensor checken und \nwer kennt sich mit den Komponenten\nder Stanze aus?*/\n\ng.V().next()","x":1256.6033935546875,"y":302.6191101074219,"wires":[["ba06e60a.5db268"]]},{"id":"d75bb834.9c3818","type":"function","z":"1ff27e1b.d1e38a","name":"check condition and find names","func":"/*Teste vorher Temperatursensor im Büro:\nWenn zwischen -30 und +30°C,\ndann ist der Sensor OK*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1669.4915771484375,"y":302.76190185546875,"wires":[["3b8a7cf1.f93584"]]},{"id":"48af8e77.8a2ee","type":"mqtt in","z":"1ff27e1b.d1e38a","name":"office temp-sensor check","topic":"","qos":"2","broker":"","x":1397.5235595703125,"y":227.68252563476562,"wires":[["ba06e60a.5db268"]]},{"id":"d4bc8333.5ed7d8","type":"function","z":"1ff27e1b.d1e38a","name":"final inspection","func":"/* Wenn ein Fehler auftritt, nimmt\ndie Montage für 30 Sekunden keinen Auftrag\nmehr an und arbeitet nach.\nMontagezeit beträgt 5 Sekunden.\nWarteschlange der Teile wird gelistet.\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1346.1584091186523,"y":478.8094816207886,"wires":[["db37ac0d.88bd58","2cfaf0ab.b5be28"]]},{"id":"87577df2.b35b8","type":"ui_switch","z":"1ff27e1b.d1e38a","name":"error welding","label":"switch","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":608.3650970458984,"y":301.9206600189209,"wires":[["a5758b55.bd528"]]},{"id":"3b8a7cf1.f93584","type":"ui_toast","z":"1ff27e1b.d1e38a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"names of qualified workers","x":1952.999755859375,"y":302.2857666015625,"wires":[]},{"id":"2cfaf0ab.b5be28","type":"ui_chart","z":"1ff27e1b.d1e38a","name":"pieces per time","group":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1373.2655029296875,"y":587.4920654296875,"wires":[[],[]]},{"id":"6bc08a78.6f060c","type":"ui_gauge","z":"1ff27e1b.d1e38a","name":"temp","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":783.7613716125488,"y":128.3490753173828,"wires":[]},{"id":"e0656706.5e41e8","type":"mysql","z":"1ff27e1b.d1e38a","mydb":"","name":"DB QKontrolle Stanze","x":369.9365768432617,"y":171.55555820465088,"wires":[[]]},{"id":"2d980dce.2e01b2","type":"mysql","z":"1ff27e1b.d1e38a","mydb":"","name":"DB QKontrolle Fräsen","x":865.5714111328125,"y":603.1904296875,"wires":[[]]},{"id":"be13e86.7ca5998","type":"mysql","z":"1ff27e1b.d1e38a","mydb":"","name":"DB QKontrolle Schweißen","x":828.98388671875,"y":181.4761962890625,"wires":[[]]},{"id":"db37ac0d.88bd58","type":"mysql","z":"1ff27e1b.d1e38a","mydb":"","name":"save outcome","x":1375.427978515625,"y":536.8255004882812,"wires":[[]]},{"id":"9eb3b0a9.f8987","type":"switch","z":"1ff27e1b.d1e38a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":1053.6188850402832,"y":301.6189489364624,"wires":[["f204b548.512f28","2ce98162.5a6b4e"]]},{"id":"ba06e60a.5db268","type":"join","z":"1ff27e1b.d1e38a","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","x":1444.872802734375,"y":303.68255615234375,"wires":[["d75bb834.9c3818"]]},{"id":"2ce98162.5a6b4e","type":"function","z":"1ff27e1b.d1e38a","name":"Lager","func":"/* \n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1126.4443359375,"y":420.22216796875,"wires":[["d4bc8333.5ed7d8"]]},{"id":"4e484f5d.75f9d8","type":"ui_gauge","z":"1ff27e1b.d1e38a","name":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":814.5001220703125,"y":652.3333740234375,"wires":[]},{"id":"c43ce6a6.4ae7c","type":"ui_chart","z":"1ff27e1b.d1e38a","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":810.5,"y":697.3333129882812,"wires":[[],[]]},{"id":"45d01f73.2b9ef8","type":"ui_gauge","z":"1ff27e1b.d1e38a","name":"","group":"f5aaefaa.ffa91","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":318.8333740234375,"y":82.99999809265137,"wires":[]},{"id":"37744e20.aa4b8a","type":"ui_chart","z":"1ff27e1b.d1e38a","name":"","group":"f5aaefaa.ffa91","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":319.1666259765625,"y":125.66667175292969,"wires":[[],[]]},{"id":"1e792818.3f45f","type":"ui_chart","z":"1ff27e1b.d1e38a","name":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":781,"y":70,"wires":[[],[]]},{"id":"9b45983.a8eb868","type":"inject","z":"1ff27e1b.d1e38a","name":"Start Production","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":201,"y":604,"wires":[["94927a8f.2263","e354934c.5fb248","a5758b55.bd528"]]},{"id":"f5aaefaa.ffa91","type":"ui_group","z":"","name":"Stanze Q-Kontrolle 2","tab":"ce44a3e0.9abbe","disp":true,"width":"6"},{"id":"ce44a3e0.9abbe","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]
