Node-RED_simplified
[{"id":"232a2c29.acd17c","type":"inject","z":"a81acd82.f0dab8","name":"Process input","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":152.89697265625,"y":459.7856750488281,"wires":[[]]},{"id":"3e2a1c61.7b6b1c","type":"function","z":"a81acd82.f0dab8","name":"edge check punching","func":"/*Produziert 5 Teile pro Arbeitsschritt.\n2 für das Schweißen, 3 für das Fräsen.\n\nTeile sind Sicherheitsrelevant.\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\n\nmsg.payload = Math.round(Math.random()*3*10)/10;\n\nvar punchingOutput = {\n    topic: \"input\"\n};\n\n\nreturn [msg, punchingOutput];","outputs":"2","noerr":0,"x":519.5158996582031,"y":461.1187438964844,"wires":[["adbf4f50.7736b8","70bd2ec7.a2dde8","87e4336.b4bd35"],["254dcbc2.5dcfac","ca4de247.1ab698"]]},{"id":"279c2ae.97ec3d6","type":"function","z":"a81acd82.f0dab8","name":"temp check","func":"var newMsg;\nvar error = flow.get('error')||false;\n\nif(msg.topic == \"switch\") {\n    flow.set('error', msg.payload);\n    return [null,null];\n} else if(msg.topic == \"input\") {\n    if(error === false) {\n        newMsg = {\n            payload: Math.round(Math.random()*(4200-4000)+4000)\n        }\n    } else {\n        newMsg = {\n            payload: Math.round(Math.random()*(3500-800)+800)\n        }\n    }\n    \n    var weldingOutput = {\n        topic: \"inputWelding\"\n    };\n    \n    return [newMsg, weldingOutput];\n}","outputs":"2","noerr":0,"x":1435.5160522460938,"y":329.0555419921875,"wires":[["e2285dd.47c702","a63ecba4.e4f858","3d36c2c6.0caaf6","3c787ced.3236b4"],["e8ddad43.94c8b"]]},{"id":"eeb299c8.9220d","type":"function","z":"a81acd82.f0dab8","name":"edge check milling","func":"/*Brauch 1 Teil von der Stanze.\n\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\n\nmsg.payload = Math.round(Math.random()*3*10)/10;\n\nvar millingOutput = {\n    topic: \"inputMilling\"\n};\n\n\nreturn [msg, millingOutput];","outputs":"2","noerr":0,"x":944.1669311523438,"y":792.5475769042969,"wires":[["212af8bf.a83e7","976c33a3.8285","7867089e.b68d1"],["a78db542.7ebc68"]]},{"id":"c0ddc3aa.a2161","type":"gremlin-query","z":"a81acd82.f0dab8","name":"qualified worker","database":"b392d029.83f62","gremlin":"/*Wer kann den Sensor checken und \nwer kennt sich mit den Komponenten\nder Stanze aus?*/","x":2193.9286499023438,"y":332.0715026855469,"wires":[["63a5aa36.294a5c"]]},{"id":"6ee62f81.a6e9e","type":"function","z":"a81acd82.f0dab8","name":"check condition and find names","func":"/*Teste vorher Temperatursensor im Büro:\nWenn zwischen 0 und +30°C,\ndann ist der Sensor OK\n\nSortiere worker und schicke entweder Mechaniker\noder TechSupport\n\nWarne alle nachgelagerten Maschinen!!*/\n\nif(msg.payload.temperature<=30 && msg.payload.temperature> 0) {\n    msg.payload = msg.payload.worker;\n} else {\n    return \"Temperature Sensor probably broken. Call Tina.\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":2981.5946655273438,"y":326.9920654296875,"wires":[["7a4f3d02.2fe164"]]},{"id":"fa536153.0dae3","type":"mqtt in","z":"a81acd82.f0dab8","name":"office temp-sensor check","topic":"sensor","qos":"2","broker":"6202f52d.549124","x":2383.8490600585938,"y":278.30157470703125,"wires":[["ab7a02c.882388"]]},{"id":"24cc72e9.5a5d8e","type":"function","z":"a81acd82.f0dab8","name":"final inspection","func":"/* Wenn ein Fehler auftritt, nimmt\ndie Montage für 30 Sekunden keinen Auftrag\nmehr an und arbeitet nach.\nMontagezeit beträgt 5 Sekunden.\nWarteschlange der Teile wird gelistet.\n*/\nvar inspError = context.get('inspectionError')||false;\nif(msg.topic == \"switch\") {\n    context.set('inspectionError', msg.payload);\n    return [null,null];\n}\nif(inspError === true) {\n    msg.payload = 1;\n    return [msg, null]\n} else if (inspError === false) {\n    msg.payload = 1;\n    return [null, msg]\n}","outputs":"2","noerr":0,"x":2311.150146484375,"y":698.0238342285156,"wires":[["955a2b55.15e9b8"],["6b8b15df.08c744","e78a1910.7a0e9"]]},{"id":"578bc300.55af64","type":"ui_switch","z":"a81acd82.f0dab8","name":"produce errors","label":"switch","group":"cc97183b.004878","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1222.738525390625,"y":266.5155029296875,"wires":[["279c2ae.97ec3d6"]]},{"id":"7a4f3d02.2fe164","type":"ui_toast","z":"a81acd82.f0dab8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"names of qualified workers","x":3256.6268310546875,"y":327.46820068359375,"wires":[]},{"id":"68d05aa6.2a95fc","type":"ui_chart","z":"a81acd82.f0dab8","name":"pieces summerised","group":"ed948ff4.b4507","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2900.3045654296875,"y":758.8968200683594,"wires":[[],[]]},{"id":"3a8326de.fe4e9a","type":"mysql","z":"a81acd82.f0dab8","mydb":"f87fe1c5.e2a2a","name":"edge check: control value","x":883.8337097167969,"y":261.8650817871094,"wires":[[]]},{"id":"12ccff16.5e2919","type":"mysql","z":"a81acd82.f0dab8","mydb":"f87fe1c5.e2a2a","name":"edge check: save control value","x":1328.516357421875,"y":586.3097839355469,"wires":[[]]},{"id":"47fc8c55.63caa4","type":"mysql","z":"a81acd82.f0dab8","mydb":"f87fe1c5.e2a2a","name":"save temp check value","x":1814.5960083007812,"y":130.59527587890625,"wires":[[]]},{"id":"48d3a286.2b453c","type":"mysql","z":"a81acd82.f0dab8","mydb":"f87fe1c5.e2a2a","name":"save outcome","x":3056.6105346679688,"y":705.2779846191406,"wires":[[]]},{"id":"adbf4f50.7736b8","type":"ui_text","z":"a81acd82.f0dab8","group":"3d19c324.4ed234","order":0,"width":0,"height":0,"name":"","label":"Value - Edge Check:","format":"{{msg.payload}}","layout":"row-spread","x":516.2939147949219,"y":355.0594482421875,"wires":[]},{"id":"e8ddad43.94c8b","type":"switch","z":"a81acd82.f0dab8","name":"check error","property":"error","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1642.8970947265625,"y":514.1665649414062,"wires":[["c0ddc3aa.a2161","d778be1f.19b5b8","df0d071a.22b6a8"],["a78db542.7ebc68","c81b30dc.e45e8"]]},{"id":"b95a72f3.fb328","type":"function","z":"a81acd82.f0dab8","name":"stock","func":"var wParts = context.get('weldingParts') || 0;\nvar mParts = context.get('millingParts')|| 0;\n\nif(msg.topic == \"inputWelding\") {\n    wParts += 2;\n    context.set('weldingParts', wParts);\n} else if(msg.topic == \"inputMilling\") {\n    mParts += 4;\n    context.set('millingParts', mParts);\n} else {\n    return null;\n}\n\nvar wCompare = context.get('weldingParts') || 0;\nvar mCompare = context.get('millingParts') || 0;\nif(wCompare >= 4 && mCompare >= 8) {\n    wCompare -= 4;\n    context.set('weldingParts', wCompare);\n    mCompare -= 8;\n    context.set('millingParts', mCompare);\n    \n    var stockOutput = {\n    topic: \"inputStock\"\n    };\n    return stockOutput;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":1972.7220458984375,"y":720.4364318847656,"wires":[["9dc89740.de349"]]},{"id":"63a5aa36.294a5c","type":"json","z":"a81acd82.f0dab8","name":"","pretty":false,"x":2347.510250515408,"y":333.2513597276476,"wires":[["48ea9648.47c6b8"]]},{"id":"48ea9648.47c6b8","type":"function","z":"a81acd82.f0dab8","name":"add topic and toString","func":"msg.topic = \"worker\";\n\n//do some stuff\nreturn msg;","outputs":1,"noerr":0,"x":2536.399169921875,"y":332.51055908203125,"wires":[["6ddbe5a1.fbd884"]]},{"id":"6ddbe5a1.fbd884","type":"function","z":"a81acd82.f0dab8","name":"wait for both","func":"context.data = context.data || {};\nswitch(msg.topic) {\n    case \"sensor\":\n        context.data.sensor = msg.payload;\n        msg = null;\n        break;\n    case \"worker\":\n        context.data.worker = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\nif(context.data.sensor != null && context.data.worker != null) {\n    var temperature = context.data.sensor;\n    var worker = context.data.worker;\n    context.data = null;\n    return {payload: {\n        temp: temperature,\n        worker: worker\n    }};\n} else { return msg;}","outputs":1,"noerr":0,"x":2754.5104370117188,"y":326.95501708984375,"wires":[["6ee62f81.a6e9e"]]},{"id":"f5ee9011.e27158","type":"inject","z":"a81acd82.f0dab8","name":"working sensor","topic":"","payload":"{\"temperature\":25}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1996.3811645507812,"y":250.73526000976562,"wires":[["5946991b.16cd"]]},{"id":"5946991b.16cd","type":"mqtt out","z":"a81acd82.f0dab8","name":"","topic":"sensor","qos":"","retain":"","broker":"6202f52d.549124","x":2163.8812217712402,"y":277.6727714538574,"wires":[]},{"id":"6cf0bdf4.8c17e4","type":"inject","z":"a81acd82.f0dab8","name":"broken sensor","topic":"","payload":"{\"temperature\":800}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1988.8812217712402,"y":313.23525619506836,"wires":[["5946991b.16cd"]]},{"id":"ab7a02c.882388","type":"json","z":"a81acd82.f0dab8","name":"","pretty":false,"x":2572.2145385742188,"y":275.54766845703125,"wires":[["6ddbe5a1.fbd884"]]},{"id":"a63ecba4.e4f858","type":"ui_gauge","z":"a81acd82.f0dab8","name":"Temperature","group":"cc97183b.004878","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value | number:1}}°C","min":0,"max":"6000","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"3900","seg2":"4500","x":1466.3102416992188,"y":165.47637939453125,"wires":[]},{"id":"70bd2ec7.a2dde8","type":"ui_chart","z":"a81acd82.f0dab8","name":"","group":"3d19c324.4ed234","order":0,"width":0,"height":0,"label":"Check Critical when Value > 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":542.0717468261719,"y":306.6666564941406,"wires":[[],[]]},{"id":"83aa4ce4.35dce8","type":"function","z":"a81acd82.f0dab8","name":"MySQL query","func":"timestamp = msg.payload.time;\nsensorID = msg.payload.idSensor;\nvalueType = msg.payload.valueType;\nvalue = msg.payload.value; \n\nvar m = {\n topic : \"INSERT INTO `anelmarius`.`sensor_values` (`timestamp`, `id_sensor`, `value_type`, `value`) VALUES ('\" + timestamp + \"', '\" + sensorID + \"', '\" + valueType + \"', '\" + value + \"');\"     \n };\n\nreturn m;","outputs":1,"noerr":0,"x":660.6431579589844,"y":262.78575134277344,"wires":[["3a8326de.fe4e9a"]]},{"id":"87e4336.b4bd35","type":"function","z":"a81acd82.f0dab8","name":"Create Msg","func":"var newMsg = [];\nvar theTime;\n\nnewMsg.push(\n    {payload: {\n        time: new Date().toISOString().slice(0, 19).replace('T', ' '),\n        idSensor: 301,\n        valueType: \"grade\",\n        value: msg.payload\n    }}\n    )\n\nreturn newMsg;","outputs":1,"noerr":0,"x":490.6430358886719,"y":262.07142639160156,"wires":[["83aa4ce4.35dce8"]]},{"id":"976c33a3.8285","type":"ui_text","z":"a81acd82.f0dab8","group":"c58f46a2.199b9","order":0,"width":0,"height":0,"name":"","label":"Value - Edge Check:","format":"{{msg.payload}}","layout":"row-spread","x":964.048095703125,"y":674.5240173339844,"wires":[]},{"id":"212af8bf.a83e7","type":"ui_chart","z":"a81acd82.f0dab8","name":"","group":"c58f46a2.199b9","order":0,"width":0,"height":0,"label":"Check Critical when Value > 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":994.111572265625,"y":631.8455200195312,"wires":[[],[]]},{"id":"3c787ced.3236b4","type":"ui_text","z":"a81acd82.f0dab8","group":"cc97183b.004878","order":0,"width":0,"height":0,"name":"","label":"Value - Temp Check:","format":"{{msg.payload}}°C","layout":"row-spread","x":1485.9525756835938,"y":235.95242309570312,"wires":[]},{"id":"3d36c2c6.0caaf6","type":"ui_chart","z":"a81acd82.f0dab8","name":"","group":"cc97183b.004878","order":0,"width":0,"height":0,"label":"Opt.: 4000°C <= x <= 4200°C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1516.0160522460938,"y":200.41683959960938,"wires":[[],[]]},{"id":"7867089e.b68d1","type":"function","z":"a81acd82.f0dab8","name":"Create Msg","func":"var newMsg = [];\nvar theTime;\n\nnewMsg.push(\n    {payload: {\n        time: new Date().toISOString().slice(0, 19).replace('T', ' '),\n        idSensor: 303,\n        valueType: \"grade\",\n        value: msg.payload\n    }}\n    )\n\nreturn newMsg;","outputs":1,"noerr":0,"x":941.54833984375,"y":587.3811950683594,"wires":[["ca0c5fe5.1466b"]]},{"id":"ca0c5fe5.1466b","type":"function","z":"a81acd82.f0dab8","name":"MySQL query","func":"timestamp = msg.payload.time;\nsensorID = msg.payload.idSensor;\nvalueType = msg.payload.valueType;\nvalue = msg.payload.value; \n\nvar m = {\n topic : \"INSERT INTO `anelmarius`.`sensor_values` (`timestamp`, `id_sensor`, `value_type`, `value`) VALUES ('\" + timestamp + \"', '\" + sensorID + \"', '\" + valueType + \"', '\" + value + \"');\"     \n };\n\nreturn m;","outputs":1,"noerr":0,"x":1116.072021484375,"y":585.0002746582031,"wires":[["12ccff16.5e2919"]]},{"id":"e2285dd.47c702","type":"function","z":"a81acd82.f0dab8","name":"Create Msg","func":"var newMsg = [];\nvar theTime;\n\nnewMsg.push(\n    {payload: {\n        time: new Date().toISOString().slice(0, 19).replace('T', ' '),\n        idSensor: 302,\n        valueType: \"temp\",\n        value: msg.payload\n    }}\n    )\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1464.8814086914062,"y":131.19061279296875,"wires":[["61ec38ce.6042d8"]]},{"id":"61ec38ce.6042d8","type":"function","z":"a81acd82.f0dab8","name":"MySQL query","func":"timestamp = msg.payload.time;\nsensorID = msg.payload.idSensor;\nvalueType = msg.payload.valueType;\nvalue = msg.payload.value; \n\nvar m = {\n topic : \"INSERT INTO `anelmarius`.`sensor_values` (`timestamp`, `id_sensor`, `value_type`, `value`) VALUES ('\" + timestamp + \"', '\" + sensorID + \"', '\" + valueType + \"', '\" + value + \"');\"     \n };\n\nreturn m;","outputs":1,"noerr":0,"x":1622.0244750976562,"y":130.47625732421875,"wires":[["47fc8c55.63caa4"]]},{"id":"6b8b15df.08c744","type":"function","z":"a81acd82.f0dab8","name":"Create Msg","func":"var newMsg = [];\nvar theTime;\n\nnewMsg.push(\n    {payload: {\n        time: new Date().toISOString().slice(0, 19).replace('T', ' '),\n        idSensor: 304,\n        valueType: \"output\",\n        value: msg.payload\n    }}\n    )\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2712.856201171875,"y":705.2383728027344,"wires":[["5d6622a9.7ac0d4"]]},{"id":"5d6622a9.7ac0d4","type":"function","z":"a81acd82.f0dab8","name":"MySQL query","func":"timestamp = msg.payload.time;\nsensorID = msg.payload.idSensor;\nvalueType = msg.payload.valueType;\nvalue = msg.payload.value; \n\nvar m = {\n topic : \"INSERT INTO `anelmarius`.`sensor_values` (`timestamp`, `id_sensor`, `value_type`, `value`) VALUES ('\" + timestamp + \"', '\" + sensorID + \"', '\" + valueType + \"', '\" + value + \"');\"     \n };\n\nreturn m;","outputs":1,"noerr":0,"x":2879.9990844726562,"y":705.9526672363281,"wires":[["48d3a286.2b453c"]]},{"id":"c4a010e2.00f7b","type":"inject","z":"a81acd82.f0dab8","name":"Test Input","topic":"","payload":"1,3","payloadType":"str","repeat":"","crontab":"","once":false,"x":145.4761962890625,"y":402.3809509277344,"wires":[["c5a9c208.faf248"]]},{"id":"f72ec618.0016f8","type":"inject","z":"a81acd82.f0dab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1632.666944231306,"y":50.50000217982699,"wires":[[]]},{"id":"d145b14e.85aac","type":"gremlin-query","z":"a81acd82.f0dab8","name":"","database":"","gremlin":"g.V().next()","x":1799.8097534179688,"y":50.76188659667969,"wires":[[]]},{"id":"ca4de247.1ab698","type":"delay","z":"a81acd82.f0dab8","name":"milling","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":763.5001831054688,"y":790.8809509277344,"wires":[["eeb299c8.9220d"]]},{"id":"c5a9c208.faf248","type":"delay","z":"a81acd82.f0dab8","name":"punching","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":332.8572082519531,"y":460.4762268066406,"wires":[["3e2a1c61.7b6b1c"]]},{"id":"254dcbc2.5dcfac","type":"delay","z":"a81acd82.f0dab8","name":"welding","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1246.7860107421875,"y":323.69036865234375,"wires":[["279c2ae.97ec3d6"]]},{"id":"a78db542.7ebc68","type":"delay","z":"a81acd82.f0dab8","name":"store","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1830.2378540039062,"y":721.3097534179688,"wires":[["b95a72f3.fb328"]]},{"id":"9dc89740.de349","type":"delay","z":"a81acd82.f0dab8","name":"Assembly","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2117.1428833007812,"y":719.8808898925781,"wires":[["24cc72e9.5a5d8e"]]},{"id":"d778be1f.19b5b8","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"true","x":1793.7496337890625,"y":398.47216796875,"wires":[]},{"id":"c81b30dc.e45e8","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"true","x":1828.749755859375,"y":681.8055114746094,"wires":[]},{"id":"d2668173.ba14d8","type":"function","z":"a81acd82.f0dab8","name":"add topic and toString","func":"msg.topic = \"worker\";\n\n//do some stuff\nreturn msg;","outputs":1,"noerr":0,"x":2554.4440307617188,"y":375.13885498046875,"wires":[["c4befd07.2f8708"]]},{"id":"df0d071a.22b6a8","type":"gremlin-query","z":"a81acd82.f0dab8","name":"affected machines","database":"b392d029.83f62","gremlin":"/*Welche Maschinen sind vom\nError in Folge betroffen?*/\n","x":2200.3068237304688,"y":379.69976806640625,"wires":[["d1e7b8ca.af79a"]]},{"id":"d1e7b8ca.af79a","type":"json","z":"a81acd82.f0dab8","name":"","pretty":false,"x":2375.5548706054688,"y":377.54632568359375,"wires":[["d2668173.ba14d8"]]},{"id":"c4befd07.2f8708","type":"ui_toast","z":"a81acd82.f0dab8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"affected machines","x":2769.4440307617188,"y":375.1387939453125,"wires":[]},{"id":"955a2b55.15e9b8","type":"delay","z":"a81acd82.f0dab8","name":"rework","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2486.444091796875,"y":651.8609924316406,"wires":[["6b8b15df.08c744","e78a1910.7a0e9"]]},{"id":"38e3b19a.7446de","type":"ui_switch","z":"a81acd82.f0dab8","name":"produce errors","label":"switch","group":"2c952117.01377e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2096.9442138671875,"y":680.1388244628906,"wires":[["24cc72e9.5a5d8e"]]},{"id":"e78a1910.7a0e9","type":"function","z":"a81acd82.f0dab8","name":"summerise","func":"var sumOutcomes = context.get('outcomes')||0;\nsumOutcomes += 1;\ncontext.set('outcomes', sumOutcomes);\nvar newMsg = {\n            payload: sumOutcomes\n        }\nreturn newMsg;","outputs":1,"noerr":0,"x":2714.7772216796875,"y":759.0832214355469,"wires":[["68d05aa6.2a95fc"]]},{"id":"b392d029.83f62","type":"tinkerpop-config","z":"","server":"aifb-ls3-vm1.aifb.kit.edu","port":"8182"},{"id":"6202f52d.549124","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"myproductionprocess/tempsensor","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"cc97183b.004878","type":"ui_group","z":"","name":"Temp Check Values","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"ed948ff4.b4507","type":"ui_group","z":"","name":"Outcomes","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"f87fe1c5.e2a2a","type":"MySQLdatabase","z":"","host":"aifb-ls3-vm1.aifb.kit.edu","port":"3306","db":"anelmarius","tz":""},{"id":"3d19c324.4ed234","type":"ui_group","z":"","name":"1. Edge Check Values","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"c58f46a2.199b9","type":"ui_group","z":"","name":"2. Edge Check Values","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"2c952117.01377e","type":"ui_group","z":"","name":"Final Inspection","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"4483fd60.62be94","type":"ui_tab","z":"","name":"Production Process","icon":"dashboard"}]
