Production Process Alternative 1
[{"id":"3377e67.d2f3d1a","type":"subflow","name":"gremlin query for affected machines","info":"","in":[{"x":303.1041564941406,"y":147.3541717529297,"wires":[{"id":"6bee6c68.25164c"}]}],"out":[{"x":795.25,"y":194.24998474121094,"wires":[{"id":"805b998.cc2fe68","port":0}]}]},{"id":"6bee6c68.25164c","type":"change","z":"3377e67.d2f3d1a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"gremlin\":\"g.V().has('name', 'welding').repeat(out()).emit().dedup().values('name')\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":463.1041564941406,"y":147.3541717529297,"wires":[["805b998.cc2fe68"]]},{"id":"805b998.cc2fe68","type":"http request","z":"3377e67.d2f3d1a","name":"","method":"POST","ret":"obj","url":"http://aifb-ls3-vm1.aifb.kit.edu:8183","tls":"","x":645.25,"y":194.24998474121094,"wires":[[]]},{"id":"232a2c29.acd17c","type":"inject","z":"a81acd82.f0dab8","name":"Process input","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":143.56365966796875,"y":454.78570556640625,"wires":[[]]},{"id":"3e2a1c61.7b6b1c","type":"function","z":"a81acd82.f0dab8","name":"edge check punching","func":"msg.payload = Math.round(Math.random()*3*10)/10;\n\nvar punchingOutput = {\n    topic: \"input\"\n};\n\n\nreturn [msg, punchingOutput];","outputs":"2","noerr":0,"x":518.5158996582031,"y":461.1187438964844,"wires":[["adbf4f50.7736b8","70bd2ec7.a2dde8","87e4336.b4bd35","7a3c2fe0.e620f"],["254dcbc2.5dcfac","ca4de247.1ab698"]]},{"id":"279c2ae.97ec3d6","type":"function","z":"a81acd82.f0dab8","name":"temp check","func":"var newMsg;\nvar error = flow.get('error')||false;\n\nif(msg.topic == \"switch\") {\n    flow.set('error', msg.payload);\n    return [null, null, null];\n} else if(msg.topic == \"input\") {\n    flow.set('error', error);\n    if(error === false) {\n        newMsg = {\n            payload: Math.round(Math.random()*(4200-4000)+4000)\n        }\n    } else {\n        newMsg = {\n            payload: Math.round(Math.random()*(3500-800)+800)\n        }\n    }\n    \n    var weldingOutput = {\n        topic: \"inputWelding\"\n    };\n    \n    var maint = context.get('maintenance') || 5;\n    maint -= 1;\n    if(maint === 0) {\n        context.set('maintenance', 5);\n        var status = {\n            payload: \"Regelwartung durchführen!\"\n        }\n    } else {\n        context.set('maintenance', maint);\n        var status = {\n            payload: \"Noch \" + maint + \" Teile bis Regelwartung.\"\n        }\n    }\n    \n    return [newMsg, status, weldingOutput];\n}","outputs":"3","noerr":0,"x":1438.5160522460938,"y":329.0555419921875,"wires":[["e2285dd.47c702","a63ecba4.e4f858","3d36c2c6.0caaf6","3c787ced.3236b4","7954ef33.392eb8"],["f006a0a0.4c976","1b3b9ae4.27e15d"],["d12d41ab.0c6f78","e8ddad43.94c8b"]]},{"id":"eeb299c8.9220d","type":"function","z":"a81acd82.f0dab8","name":"edge check milling","func":"/*Brauch 1 Teil von der Stanze.\n\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\n\nmsg.payload = Math.round(Math.random()*3*10)/10;\n\nvar millingOutput = {\n    topic: \"inputMilling\"\n};\n\n\nreturn [msg, millingOutput];","outputs":"2","noerr":0,"x":943.1669311523438,"y":792.5475769042969,"wires":[["212af8bf.a83e7","976c33a3.8285","7867089e.b68d1"],["a78db542.7ebc68","8672d42f.93b2e"]]},{"id":"fa536153.0dae3","type":"mqtt in","z":"a81acd82.f0dab8","name":"check availability of advisor","topic":"sensor","qos":"2","broker":"6202f52d.549124","x":2367.1351318359375,"y":294.0158386230469,"wires":[["ab7a02c.882388"]]},{"id":"24cc72e9.5a5d8e","type":"function","z":"a81acd82.f0dab8","name":"final inspection","func":"var inspValue = Math.random()*7;\n\nif(inspValue <=6 && inspValue >= 1) {\n    msg.payload = 1;\n    msg.topic = \"correct\";\n    return [null, msg]\n} else {\n    msg.payload = 1;\n    msg.topic = \"incorrect\";\n    return [msg, null]\n}","outputs":"2","noerr":0,"x":2310.150146484375,"y":698.0238342285156,"wires":[["955a2b55.15e9b8","28845fc7.4a4908"],["6b8b15df.08c744","e78a1910.7a0e9","28845fc7.4a4908"]]},{"id":"578bc300.55af64","type":"ui_switch","z":"a81acd82.f0dab8","name":"produce errors","label":"Produce Temp Error","group":"cc97183b.004878","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1221.738525390625,"y":266.5155029296875,"wires":[["279c2ae.97ec3d6"]]},{"id":"68d05aa6.2a95fc","type":"ui_chart","z":"a81acd82.f0dab8","name":"pieces summerised","group":"ed948ff4.b4507","order":0,"width":0,"height":0,"label":"Outcomes Summerised","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2915.018798828125,"y":753.1826171875,"wires":[[],[]]},{"id":"3a8326de.fe4e9a","type":"mysql","z":"a81acd82.f0dab8","mydb":"f87fe1c5.e2a2a","name":"edge check: control value","x":875.69091796875,"y":261.8650817871094,"wires":[[]]},{"id":"12ccff16.5e2919","type":"mysql","z":"a81acd82.f0dab8","mydb":"f87fe1c5.e2a2a","name":"edge check: save control value","x":1340.3734130859375,"y":596.3096923828125,"wires":[[]]},{"id":"47fc8c55.63caa4","type":"mysql","z":"a81acd82.f0dab8","mydb":"f87fe1c5.e2a2a","name":"save temp check value","x":1813.5960083007812,"y":130.59527587890625,"wires":[[]]},{"id":"48d3a286.2b453c","type":"mysql","z":"a81acd82.f0dab8","mydb":"f87fe1c5.e2a2a","name":"save outcome","x":3075.6107177734375,"y":705.2778930664062,"wires":[[]]},{"id":"adbf4f50.7736b8","type":"ui_text","z":"a81acd82.f0dab8","group":"3d19c324.4ed234","order":0,"width":0,"height":0,"name":"","label":"Value - Edge Check:","format":"{{msg.payload}}","layout":"row-spread","x":515.2939147949219,"y":355.0594482421875,"wires":[]},{"id":"e8ddad43.94c8b","type":"switch","z":"a81acd82.f0dab8","name":"check error","property":"error","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1641.8970947265625,"y":514.1665649414062,"wires":[["d778be1f.19b5b8","7bf8e36b.de1954"],["a78db542.7ebc68","c81b30dc.e45e8"]]},{"id":"b95a72f3.fb328","type":"function","z":"a81acd82.f0dab8","name":"stock","func":"var wParts = context.get('weldingParts') || 0;\nvar mParts = context.get('millingParts')|| 0;\n\nif(msg.topic == \"inputWelding\") {\n    wParts += 2;\n    context.set('weldingParts', wParts);\n} else if(msg.topic == \"inputMilling\") {\n    mParts += 4;\n    context.set('millingParts', mParts);\n} else {\n    return [null, null];\n}\n\nvar wCompare = context.get('weldingParts') || 0;\nvar mCompare = context.get('millingParts') || 0;\nif(wCompare >= 4 && mCompare >= 8) {\n    wCompare -= 4;\n    context.set('weldingParts', wCompare);\n    mCompare -= 8;\n    context.set('millingParts', mCompare);\n    var stockOutput = {\n        topic: \"inputStock\"\n    };\n    \n    var stockLevel = [];\n    stockLevel.push(\n        {payload: { \n            weldingParts: context.get('weldingParts'),\n            millingParts: context.get('millingParts')\n        }}\n    );\n    \n    return [stockOutput, stockLevel];\n} else {\n    var stockLevel = [];\n    stockLevel.push(\n        {payload: { \n            weldingParts: context.get('weldingParts'),\n            millingParts: context.get('millingParts')\n        }}\n    );\n    \n    return [null, stockLevel];\n}","outputs":"2","noerr":0,"x":1960.055419921875,"y":720.4364013671875,"wires":[["9dc89740.de349"],["b4cf3d8a.705bd8","a7555356.101d7"]]},{"id":"6ddbe5a1.fbd884","type":"function","z":"a81acd82.f0dab8","name":"wait for both","func":"switch(msg.topic) {\n    case \"sensor\":\n        context.set('sensor', msg.payload);\n        msg = null;\n        break;\n    case \"machines\":\n        var machines = msg.payload;\n        machines.join();\n        machines = \"Delay warning for: \" + machines;\n        context.set('machines', machines);\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\nif(context.get('sensor') == true && context.get('machines') != null) {\n    var afmachines = context.get('machines');\n    var newMsg = {\n            payload: afmachines\n        };\n    context.set('sensor', null);\n    context.set('machines', null);\n    return newMsg;\n    \n} else { return msg;}","outputs":1,"noerr":0,"x":2712.0821533203125,"y":334.0978698730469,"wires":[["d5feda50.c2c118","5b0ab8ce.7de3"]]},{"id":"5946991b.16cd","type":"mqtt out","z":"a81acd82.f0dab8","name":"","topic":"sensor","qos":"","retain":"","broker":"6202f52d.549124","x":2307.1666870117188,"y":231.95848083496094,"wires":[]},{"id":"ab7a02c.882388","type":"json","z":"a81acd82.f0dab8","name":"","pretty":false,"x":2556.92919921875,"y":294.1190490722656,"wires":[["6ddbe5a1.fbd884","924197b4.69557"]]},{"id":"a63ecba4.e4f858","type":"ui_gauge","z":"a81acd82.f0dab8","name":"Temperature","group":"cc97183b.004878","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value | number:1}}°C","min":0,"max":"6000","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"3900","seg2":"4500","x":1465.3102416992188,"y":165.47637939453125,"wires":[]},{"id":"70bd2ec7.a2dde8","type":"ui_chart","z":"a81acd82.f0dab8","name":"","group":"3d19c324.4ed234","order":0,"width":0,"height":0,"label":"Check Critical when Value > 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":541.0717468261719,"y":306.6666564941406,"wires":[[],[]]},{"id":"83aa4ce4.35dce8","type":"function","z":"a81acd82.f0dab8","name":"MySQL query","func":"timestamp = msg.payload.time;\nsensorID = msg.payload.idSensor;\nvalueType = msg.payload.valueType;\nvalue = msg.payload.value; \n\nvar m = {\n topic : \"INSERT INTO `anelmarius`.`sensor_values` (`timestamp`, `id_sensor`, `value_type`, `value`) VALUES ('\" + timestamp + \"', '\" + sensorID + \"', '\" + valueType + \"', '\" + value + \"');\"     \n };\n\nreturn m;","outputs":1,"noerr":0,"x":659.6431579589844,"y":262.78575134277344,"wires":[["3a8326de.fe4e9a"]]},{"id":"87e4336.b4bd35","type":"function","z":"a81acd82.f0dab8","name":"Create Msg","func":"var newMsg = [];\nvar theTime;\n\nnewMsg.push(\n    {payload: {\n        time: new Date().toISOString().slice(0, 19).replace('T', ' '),\n        idSensor: 301,\n        valueType: \"grade\",\n        value: msg.payload\n    }}\n    )\n\nreturn newMsg;","outputs":1,"noerr":0,"x":489.6430358886719,"y":262.07142639160156,"wires":[["83aa4ce4.35dce8"]]},{"id":"976c33a3.8285","type":"ui_text","z":"a81acd82.f0dab8","group":"c58f46a2.199b9","order":0,"width":0,"height":0,"name":"","label":"Value - Edge Check:","format":"{{msg.payload}}","layout":"row-spread","x":957.333740234375,"y":684.5239868164062,"wires":[]},{"id":"212af8bf.a83e7","type":"ui_chart","z":"a81acd82.f0dab8","name":"","group":"c58f46a2.199b9","order":0,"width":0,"height":0,"label":"Check Critical when Value > 3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":987.397216796875,"y":641.8454895019531,"wires":[[],[]]},{"id":"3c787ced.3236b4","type":"ui_text","z":"a81acd82.f0dab8","group":"cc97183b.004878","order":0,"width":0,"height":0,"name":"","label":"Value - Temp Check:","format":"{{msg.payload}}°C","layout":"row-spread","x":1484.9525756835938,"y":235.95242309570312,"wires":[]},{"id":"3d36c2c6.0caaf6","type":"ui_chart","z":"a81acd82.f0dab8","name":"","group":"cc97183b.004878","order":0,"width":0,"height":0,"label":"Opt.: 4000°C <= x <= 4200°C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1515.0160522460938,"y":200.41683959960938,"wires":[[],[]]},{"id":"7867089e.b68d1","type":"function","z":"a81acd82.f0dab8","name":"Create Msg","func":"var newMsg = [];\nvar theTime;\n\nnewMsg.push(\n    {payload: {\n        time: new Date().toISOString().slice(0, 19).replace('T', ' '),\n        idSensor: 303,\n        valueType: \"grade\",\n        value: msg.payload\n    }}\n    )\n\nreturn newMsg;","outputs":1,"noerr":0,"x":934.833984375,"y":597.3811645507812,"wires":[["ca0c5fe5.1466b"]]},{"id":"ca0c5fe5.1466b","type":"function","z":"a81acd82.f0dab8","name":"MySQL query","func":"timestamp = msg.payload.time;\nsensorID = msg.payload.idSensor;\nvalueType = msg.payload.valueType;\nvalue = msg.payload.value; \n\nvar m = {\n topic : \"INSERT INTO `anelmarius`.`sensor_values` (`timestamp`, `id_sensor`, `value_type`, `value`) VALUES ('\" + timestamp + \"', '\" + sensorID + \"', '\" + valueType + \"', '\" + value + \"');\"     \n };\n\nreturn m;","outputs":1,"noerr":0,"x":1107.9290161132812,"y":596.4287719726562,"wires":[["12ccff16.5e2919"]]},{"id":"e2285dd.47c702","type":"function","z":"a81acd82.f0dab8","name":"Create Msg","func":"var newMsg = [];\nvar theTime;\n\nnewMsg.push(\n    {payload: {\n        time: new Date().toISOString().slice(0, 19).replace('T', ' '),\n        idSensor: 302,\n        valueType: \"temp\",\n        value: msg.payload\n    }}\n    )\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1463.8814086914062,"y":131.19061279296875,"wires":[["61ec38ce.6042d8"]]},{"id":"61ec38ce.6042d8","type":"function","z":"a81acd82.f0dab8","name":"MySQL query","func":"timestamp = msg.payload.time;\nsensorID = msg.payload.idSensor;\nvalueType = msg.payload.valueType;\nvalue = msg.payload.value; \n\nvar m = {\n topic : \"INSERT INTO `anelmarius`.`sensor_values` (`timestamp`, `id_sensor`, `value_type`, `value`) VALUES ('\" + timestamp + \"', '\" + sensorID + \"', '\" + valueType + \"', '\" + value + \"');\"     \n };\n\nreturn m;","outputs":1,"noerr":0,"x":1621.0244750976562,"y":130.47625732421875,"wires":[["47fc8c55.63caa4"]]},{"id":"6b8b15df.08c744","type":"function","z":"a81acd82.f0dab8","name":"Create Msg","func":"var newMsg = [];\nvar theTime;\n\nnewMsg.push(\n    {payload: {\n        time: new Date().toISOString().slice(0, 19).replace('T', ' '),\n        idSensor: 304,\n        valueType: \"output\",\n        value: msg.payload\n    }}\n    )\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2737.5701904296875,"y":706.6669311523438,"wires":[["5d6622a9.7ac0d4"]]},{"id":"5d6622a9.7ac0d4","type":"function","z":"a81acd82.f0dab8","name":"MySQL query","func":"timestamp = msg.payload.time;\nsensorID = msg.payload.idSensor;\nvalueType = msg.payload.valueType;\nvalue = msg.payload.value; \n\nvar m = {\n topic : \"INSERT INTO `anelmarius`.`sensor_values` (`timestamp`, `id_sensor`, `value_type`, `value`) VALUES ('\" + timestamp + \"', '\" + sensorID + \"', '\" + valueType + \"', '\" + value + \"');\"     \n };\n\nreturn m;","outputs":1,"noerr":0,"x":2898.9990234375,"y":705.95263671875,"wires":[["48d3a286.2b453c"]]},{"id":"c4a010e2.00f7b","type":"inject","z":"a81acd82.f0dab8","name":"Test Input","topic":"","payload":"1,3","payloadType":"str","repeat":"","crontab":"","once":false,"x":162.80953979492188,"y":355.71429443359375,"wires":[[]]},{"id":"ca4de247.1ab698","type":"delay","z":"a81acd82.f0dab8","name":"milling","pauseType":"delay","timeout":"38","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":762.5001831054688,"y":790.8809509277344,"wires":[["eeb299c8.9220d"]]},{"id":"c5a9c208.faf248","type":"delay","z":"a81acd82.f0dab8","name":"punching","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":328.8572082519531,"y":460.4762268066406,"wires":[["3e2a1c61.7b6b1c"]]},{"id":"254dcbc2.5dcfac","type":"delay","z":"a81acd82.f0dab8","name":"welding","pauseType":"delay","timeout":"13","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1245.7860107421875,"y":323.69036865234375,"wires":[["279c2ae.97ec3d6"]]},{"id":"a78db542.7ebc68","type":"delay","z":"a81acd82.f0dab8","name":"store","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1829.2378540039062,"y":721.3097534179688,"wires":[["b95a72f3.fb328"]]},{"id":"9dc89740.de349","type":"delay","z":"a81acd82.f0dab8","name":"assembly","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2116.1428833007812,"y":719.8808898925781,"wires":[["24cc72e9.5a5d8e"]]},{"id":"d778be1f.19b5b8","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"true","x":1804.4163818359375,"y":405.13885498046875,"wires":[]},{"id":"c81b30dc.e45e8","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"true","x":1867.749755859375,"y":590.138916015625,"wires":[]},{"id":"955a2b55.15e9b8","type":"delay","z":"a81acd82.f0dab8","name":"rework","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2516.8726806640625,"y":661.86083984375,"wires":[["6b8b15df.08c744","e78a1910.7a0e9"]]},{"id":"e78a1910.7a0e9","type":"function","z":"a81acd82.f0dab8","name":"summerise","func":"var sumOutcomes = context.get('outcomes')||0;\nsumOutcomes += 1;\ncontext.set('outcomes', sumOutcomes);\nvar newMsg = {\n            payload: sumOutcomes\n        }\nreturn newMsg;","outputs":1,"noerr":0,"x":2736.634521484375,"y":753.3690185546875,"wires":[["68d05aa6.2a95fc"]]},{"id":"85be93fd.f06c38","type":"inject","z":"a81acd82.f0dab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2030.920654296875,"y":454.15478515625,"wires":[["7bf8e36b.de1954"]]},{"id":"8672d42f.93b2e","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"true","x":1229.2777099609375,"y":865.1388549804688,"wires":[]},{"id":"9002b24e.806e18","type":"ui_chart","z":"a81acd82.f0dab8","name":"stock level welding parts","group":"2cb18b0c.a12794","order":0,"width":0,"height":0,"label":"Stock Level Welding Parts","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2324.5244140625,"y":799.761962890625,"wires":[[],[]]},{"id":"163eef51.7b1931","type":"ui_chart","z":"a81acd82.f0dab8","name":"stock level milling parts","group":"2cb18b0c.a12794","order":0,"width":0,"height":0,"label":"Stock Level Milling Parts","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#30a33f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":2317.2147216796875,"y":840.1192016601562,"wires":[[],[]]},{"id":"b4cf3d8a.705bd8","type":"change","z":"a81acd82.f0dab8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weldingParts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2105.952880859375,"y":797.1906127929688,"wires":[["9002b24e.806e18"]]},{"id":"a7555356.101d7","type":"change","z":"a81acd82.f0dab8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.millingParts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2108.8095703125,"y":838.6192016601562,"wires":[["163eef51.7b1931"]]},{"id":"f0a936f.9a80d48","type":"inject","z":"a81acd82.f0dab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2070.238076346261,"y":615.3809683663504,"wires":[["24cc72e9.5a5d8e"]]},{"id":"21e7ff7f.7afc68","type":"ui_chart","z":"a81acd82.f0dab8","name":"correct vs incorrect","group":"2c952117.01377e","order":0,"width":0,"height":0,"label":"Correct Vs Incorrect Pieces","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":2902.3328857421875,"y":798.6903686523438,"wires":[[],[]]},{"id":"28845fc7.4a4908","type":"function","z":"a81acd82.f0dab8","name":"compare","func":"var correctOutcomes = context.get('correctOutcomes')||0;\nvar incorrectOutcomes = context.get('incorrectOutcomes')||0;\n\nif(msg.topic == \"correct\") {\n    correctOutcomes += 1;\n    context.set('correctOutcomes', correctOutcomes);\n    \n    var newMsg = {\n            payload: context.get('correctOutcomes'),\n            topic: \"correct\"\n        }\nreturn newMsg;\n} else if(msg.topic == \"incorrect\") {\n    incorrectOutcomes += 1;\n    context.set('incorrectOutcomes', incorrectOutcomes);\n    \n    var newMsg = {\n            payload: context.get('incorrectOutcomes'),\n            topic: \"incorrect\"\n        }\n    return newMsg;\n}","outputs":1,"noerr":0,"x":2729.4757080078125,"y":798.6902465820312,"wires":[["21e7ff7f.7afc68"]]},{"id":"35b2244f.b4ff0c","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"payload","x":2682.571533203125,"y":455.83331298828125,"wires":[]},{"id":"7a3c2fe0.e620f","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"false","x":826.7333068847654,"y":352.4666442871093,"wires":[]},{"id":"1b3b9ae4.27e15d","type":"ui_toast","z":"a81acd82.f0dab8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1733.7777557373045,"y":320.6944274902343,"wires":[]},{"id":"f006a0a0.4c976","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"payload","x":1735.4444224039712,"y":270.52777608235675,"wires":[]},{"id":"7954ef33.392eb8","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"payload","x":1747.3333740234375,"y":216.8055419921875,"wires":[]},{"id":"d12d41ab.0c6f78","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"true","x":1700.6666259765625,"y":363.47222900390625,"wires":[]},{"id":"5b0ab8ce.7de3","type":"ui_toast","z":"a81acd82.f0dab8","position":"top right","displayTime":"10","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"Error detected!","name":"affected machines","x":2927.142822265625,"y":332.9761047363281,"wires":[]},{"id":"7bf8e36b.de1954","type":"subflow:3377e67.d2f3d1a","z":"a81acd82.f0dab8","name":"","x":2252.7465209960938,"y":381.6845703125,"wires":[["61abbbe.30f7044","e455bdbd.8cef4"]]},{"id":"61abbbe.30f7044","type":"change","z":"a81acd82.f0dab8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result.data","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"machines","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2502.74658203125,"y":381.14288330078125,"wires":[["35b2244f.b4ff0c","6ddbe5a1.fbd884"]]},{"id":"e455bdbd.8cef4","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"payload","x":2495.357177734375,"y":457.26190185546875,"wires":[]},{"id":"c519f8b5.7cc538","type":"inject","z":"a81acd82.f0dab8","name":"advisor reachable","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":2051.07177734375,"y":204.40478515625,"wires":[["5946991b.16cd"]]},{"id":"8c1d46ac.53f9d","type":"inject","z":"a81acd82.f0dab8","name":"advisor not reachable","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":2045.3575439453125,"y":248.6904754638672,"wires":[["5946991b.16cd"]]},{"id":"924197b4.69557","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"payload","x":2712.5001220703125,"y":252.97616577148438,"wires":[]},{"id":"d5feda50.c2c118","type":"debug","z":"a81acd82.f0dab8","name":"","active":true,"console":"false","complete":"payload","x":2855.357421875,"y":287.2619323730469,"wires":[]},{"id":"6202f52d.549124","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"myproductionprocess/tempsensor","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"cc97183b.004878","type":"ui_group","z":"","name":"Temp Check Values","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"ed948ff4.b4507","type":"ui_group","z":"","name":"Outcomes","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"f87fe1c5.e2a2a","type":"MySQLdatabase","z":"","host":"aifb-ls3-vm1.aifb.kit.edu","port":"3306","db":"anelmarius","tz":""},{"id":"3d19c324.4ed234","type":"ui_group","z":"","name":"1. Edge Check Values","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"c58f46a2.199b9","type":"ui_group","z":"","name":"2. Edge Check Values","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"2cb18b0c.a12794","type":"ui_group","z":"","name":"Stock","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"2c952117.01377e","type":"ui_group","z":"","name":"Final Inspection","tab":"4483fd60.62be94","disp":true,"width":"6"},{"id":"4483fd60.62be94","type":"ui_tab","z":"","name":"Production Process","icon":"dashboard"}]
