Production Process Alternative 2
[{"id":"3377e67.d2f3d1a","type":"subflow","name":"gremlin query for affected machines","info":"","in":[{"x":303.1041564941406,"y":147.3541717529297,"wires":[{"id":"6bee6c68.25164c"}]}],"out":[{"x":795.25,"y":194.24998474121094,"wires":[{"id":"805b998.cc2fe68","port":0}]}]},{"id":"6bee6c68.25164c","type":"change","z":"3377e67.d2f3d1a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"gremlin\":\"g.V().has('name', 'welding').repeat(out()).emit().dedup().values('name')\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":463.1041564941406,"y":147.3541717529297,"wires":[["805b998.cc2fe68"]]},{"id":"805b998.cc2fe68","type":"http request","z":"3377e67.d2f3d1a","name":"","method":"POST","ret":"obj","url":"http://aifb-ls3-vm1.aifb.kit.edu:8183","tls":"","x":645.25,"y":194.24998474121094,"wires":[[]]},{"id":"f262bfbe.c48678","type":"inject","z":"acf10bfb.4d9668","name":"Process input","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"x":118.27752685546875,"y":238.46824645996094,"wires":[["aa2c11e.a5c8a7"]]},{"id":"9d69415a.180468","type":"function","z":"acf10bfb.4d9668","name":"edge check punching","func":"var punchingOutput = {\n    topic: \"inputPunching\"\n};\n\n\nreturn punchingOutput;","outputs":"1","noerr":0,"x":1479.229736328125,"y":238.8013458251953,"wires":[["79e71ef9.a251"]]},{"id":"8c2bdb6b.823708","type":"function","z":"acf10bfb.4d9668","name":"temp check","func":"var newMsg;\nvar error = flow.get('error')||false;\n\nif(msg.topic == \"switch\") {\n    flow.set('error', msg.payload);\n    return null;\n} else {\n    \n    var weldingOutput = {\n        topic: \"inputWelding\"\n    };\n    \n    return weldingOutput;\n}","outputs":"1","noerr":0,"x":541.2299499511719,"y":242.48805236816406,"wires":[["d6c6016b.93c9a"]]},{"id":"1b2f8078.fcfe4","type":"function","z":"acf10bfb.4d9668","name":"edge check milling","func":"var millingOutput = {\n    topic: \"inputMilling\"\n};\n\n\nreturn millingOutput;","outputs":"1","noerr":0,"x":1097.130615234375,"y":240.7301788330078,"wires":[["ef98ad45.41bc18"]]},{"id":"c8a21e06.627158","type":"function","z":"acf10bfb.4d9668","name":"final inspection","func":"var inspValue = Math.random()*7;\n\nif(inspValue <=6 && inspValue >= 1) {\n    msg.payload = 1;\n    msg.topic = \"correct\";\n    return [null, msg]\n} else {\n    msg.payload = 1;\n    msg.topic = \"incorrect\";\n    return [msg, null]\n}","outputs":"2","noerr":0,"x":2108.864013671875,"y":231.70643615722656,"wires":[["fa9b04de.fb372"],["796d5086.6f7bf8"]]},{"id":"ba19adb0.2ea918","type":"ui_switch","z":"acf10bfb.4d9668","name":"produce errors","label":"Produce Temp Error","group":"e0c4d0e1.4b63d8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":354.45245361328125,"y":168.51942443847656,"wires":[["8c2bdb6b.823708"]]},{"id":"d6c6016b.93c9a","type":"switch","z":"acf10bfb.4d9668","name":"check error","property":"error","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":738.6109924316406,"y":241.5990753173828,"wires":[["ac94b31a.11c2f8"],["b93d019e.c7fd9"]]},{"id":"adfb197a.a05118","type":"function","z":"acf10bfb.4d9668","name":"stock","func":"var pParts = context.get('punchingParts') || 0;\n\nif(msg.topic == \"inputPunching\") {\n    pParts += 3;\n    context.set('punchingParts', pParts);\n} else {\n    return null;\n}\n\nvar pCompare = context.get('punchingParts') || 0;\nif(pCompare >= 6) {\n    pCompare -= 6;\n    context.set('punchingParts', pCompare);\n    \n    var stockOutput = {\n        topic: \"inputStock\"\n    };\n    return stockOutput;\n} else {\n    return null;\n}","outputs":"1","noerr":0,"x":1776.769287109375,"y":234.11900329589844,"wires":[["da5cda04.6061b8"]]},{"id":"3a2e87e4.95a64","type":"inject","z":"acf10bfb.4d9668","name":"Test Input","topic":"","payload":"1,3","payloadType":"str","repeat":"","crontab":"","once":false,"x":134.666259765625,"y":147.96826171875,"wires":[[]]},{"id":"b93d019e.c7fd9","type":"delay","z":"acf10bfb.4d9668","name":"milling","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":916.4638671875,"y":239.0635528564453,"wires":[["1b2f8078.fcfe4"]]},{"id":"ef98ad45.41bc18","type":"delay","z":"acf10bfb.4d9668","name":"punching","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1289.571044921875,"y":238.15882873535156,"wires":[["9d69415a.180468"]]},{"id":"aa2c11e.a5c8a7","type":"delay","z":"acf10bfb.4d9668","name":"welding","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":348.4999084472656,"y":237.1228790283203,"wires":[["8c2bdb6b.823708"]]},{"id":"79e71ef9.a251","type":"delay","z":"acf10bfb.4d9668","name":"store","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1645.9517211914062,"y":234.9923553466797,"wires":[["adfb197a.a05118"]]},{"id":"da5cda04.6061b8","type":"delay","z":"acf10bfb.4d9668","name":"assembly","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1932.8567504882812,"y":233.56349182128906,"wires":[["c8a21e06.627158"]]},{"id":"eeee36ce.97d6e8","type":"function","z":"acf10bfb.4d9668","name":"add topic and toString","func":"msg.topic = \"Affected Machines\";\n\nvar machines = msg.payload;\nmachines.join();\nmachines = \"Delay warning for: \" + machines;\n\nvar newMsg = {\n    payload: machines\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":1535.657958984375,"y":133.57138061523438,"wires":[["13399b83.b30ed4"]]},{"id":"13399b83.b30ed4","type":"ui_toast","z":"acf10bfb.4d9668","position":"top right","displayTime":"10","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"Error detected!","name":"affected machines","x":1751.7293701171875,"y":133.5712890625,"wires":[]},{"id":"fa9b04de.fb372","type":"delay","z":"acf10bfb.4d9668","name":"activate order","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2281.33642578125,"y":171.2934112548828,"wires":[["796d5086.6f7bf8"]]},{"id":"93daddf7.eaac28","type":"ui_chart","z":"acf10bfb.4d9668","name":"pieces summerised","group":"55a4683c.71ec58","order":0,"width":0,"height":0,"label":"Outcomes Summerised","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2618,"y":236.16676330566406,"wires":[[],[]]},{"id":"796d5086.6f7bf8","type":"function","z":"acf10bfb.4d9668","name":"summerise","func":"var sumOutcomes = context.get('outcomes')||0;\nsumOutcomes += 1;\ncontext.set('outcomes', sumOutcomes);\n\nvar newMsg = {\n            payload: sumOutcomes\n        }\nreturn newMsg;","outputs":1,"noerr":0,"x":2439.61572265625,"y":236.35316467285156,"wires":[["93daddf7.eaac28"]]},{"id":"ac94b31a.11c2f8","type":"subflow:3377e67.d2f3d1a","z":"acf10bfb.4d9668","name":"","x":1077.3333129882812,"y":133.7083282470703,"wires":[["56d50e7d.4beed"]]},{"id":"56d50e7d.4beed","type":"change","z":"acf10bfb.4d9668","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1327.3333740234375,"y":133.16664123535156,"wires":[["eeee36ce.97d6e8"]]},{"id":"e0c4d0e1.4b63d8","type":"ui_group","z":"","name":"Temp Check","tab":"8e2513cc.a2973","disp":true,"width":"6"},{"id":"55a4683c.71ec58","type":"ui_group","z":"","name":"Outcomes","tab":"8e2513cc.a2973","disp":true,"width":"6"},{"id":"8e2513cc.a2973","type":"ui_tab","z":"","name":"Production Process 2","icon":"dashboard"}]
