V01_NodeRED
[{"id":"ab266118.bdefd","type":"inject","z":"8a4c53f2.6b294","name":"input punching","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":127,"y":498,"wires":[["832490a9.9c2cd"]]},{"id":"e02b58ff.254cd","type":"function","z":"8a4c53f2.6b294","name":"edge check punching","func":"/*Produziert 5 Teile pro Arbeitsschritt.\n2 für das Schweißen, 3 für das Fräsen.\n\nTeile sind Sicherheitsrelevant.\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\n\nreturn msg;","outputs":1,"noerr":0,"x":522.1269226074219,"y":499.4919738769531,"wires":[["32912492.a5e6c4","623adf74.6811d"]]},{"id":"f62e9472.44e3b8","type":"gremlin-query","z":"8a4c53f2.6b294","name":"qualified worker","database":"","gremlin":"/*Wer kann den Sensor checken und \nwer kennt sich mit den Komponenten\nder Stanze aus?*/\n\ng.V().next()","x":1016.920654296875,"y":240.9206314086914,"wires":[["c7efec20.82ec18"]]},{"id":"f8310caa.113488","type":"function","z":"8a4c53f2.6b294","name":"check condition and find names","func":"/*Ggfs. Bedingung:\nJemand muss im Büro sein (Arbeiter verfügbar)*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1500.41259765625,"y":249.6507339477539,"wires":[["c6e4e47f.9df268"]]},{"id":"c45fb1a7.948c38","type":"function","z":"8a4c53f2.6b294","name":"temp check","func":"/*Brauch immer 2 Teile von der Stanze\n\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\nreturn msg;","outputs":1,"noerr":0,"x":1166.444580078125,"y":472.5079345703125,"wires":[["ac164e9.846a63","c2b725bd.27354","858dcb95.7b9358"]]},{"id":"56ca3c7f.91eb14","type":"function","z":"8a4c53f2.6b294","name":"edge check milling","func":"/*Brauch 1 Teil von der Stanze.\n\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1168.984130859375,"y":707.4285888671875,"wires":[["5a926eb0.0bc92","858dcb95.7b9358"]]},{"id":"a14a06d1.8b636","type":"gremlin-query","z":"8a4c53f2.6b294","name":"qualified worker","database":"","gremlin":"/*Wer kann den Sensor checken und \nwer kennt sich mit den Komponenten\nder Stanze aus?*/\n\ng.V().next()","x":1634.3814086914062,"y":513.6191711425781,"wires":[["60ca97f6.46d2c"]]},{"id":"b54dd5b.1dcc0a8","type":"function","z":"8a4c53f2.6b294","name":"check condition and find names","func":"/*Teste vorher Temperatursensor im Büro:\nWenn zwischen -30 und +30°C,\ndann ist der Sensor OK*/\n\nreturn msg;","outputs":1,"noerr":0,"x":2012.04736328125,"y":519.6508178710938,"wires":[["7adcc489.b435b4"]]},{"id":"e0722bf3.faf46","type":"mqtt in","z":"8a4c53f2.6b294","name":"office temp-sensor check","topic":"","qos":"2","broker":"","x":1595.96826171875,"y":465.68255615234375,"wires":[["60ca97f6.46d2c"]]},{"id":"b7acea42.d84d3","type":"gremlin-query","z":"8a4c53f2.6b294","name":"qualified worker","database":"","gremlin":"/*Wer kann den Sensor checken und \nwer kennt sich mit den Komponenten\nder Stanze aus?*/\n\ng.V().next()","x":1648.9844360351562,"y":697.4287109375,"wires":[["2e3e3e9a.e1242a"]]},{"id":"2e3e3e9a.e1242a","type":"function","z":"8a4c53f2.6b294","name":"find names","func":"/*Ggfs. Bedingung:\nJemand muss im Büro sein (Arbeiter verfügbar)*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1819.3018798828125,"y":697.2699584960938,"wires":[["5dbfd012.a174e8"]]},{"id":"d9b26e22.352868","type":"function","z":"8a4c53f2.6b294","name":"final inspection","func":"/* Wenn ein Fehler auftritt, nimmt\ndie Montage für 30 Sekunden keinen Auftrag\nmehr an und arbeitet nach.\nMontagezeit beträgt 5 Sekunden.\nWarteschlange der Teile wird gelistet.\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1968.8255004882812,"y":569.8095092773438,"wires":[["612fcace.de78ac"]]},{"id":"832490a9.9c2cd","type":"ui_switch","z":"8a4c53f2.6b294","name":"error punching","label":"switch","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310.4761657714844,"y":499.3333435058594,"wires":[["e02b58ff.254cd"]]},{"id":"c08483ed.dd10b8","type":"ui_switch","z":"8a4c53f2.6b294","name":"error milling","label":"switch","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":983.7459716796875,"y":705.0477294921875,"wires":[["56ca3c7f.91eb14"]]},{"id":"3fb703db.cdf544","type":"ui_switch","z":"8a4c53f2.6b294","name":"error welding","label":"switch","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":999.1429443359375,"y":474.2540283203125,"wires":[["c45fb1a7.948c38"]]},{"id":"bc9ccef6.3864c","type":"ui_switch","z":"8a4c53f2.6b294","name":"error assembly","label":"switch","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1771.3650512695312,"y":571.873046875,"wires":[["d9b26e22.352868"]]},{"id":"c6e4e47f.9df268","type":"ui_toast","z":"8a4c53f2.6b294","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"names of qualified workers","x":1768.0318603515625,"y":247.74600219726562,"wires":[]},{"id":"7adcc489.b435b4","type":"ui_toast","z":"8a4c53f2.6b294","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"names of qualified workers","x":2287.5555419921875,"y":519.1746826171875,"wires":[]},{"id":"5dbfd012.a174e8","type":"ui_toast","z":"8a4c53f2.6b294","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"names of qualified workers","x":2033.1114501953125,"y":697.4287109375,"wires":[]},{"id":"e13b8e6d.4d82d","type":"ui_chart","z":"8a4c53f2.6b294","name":"pieces per time","group":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2342.9326782226562,"y":569.4920043945312,"wires":[[],[]]},{"id":"ac164e9.846a63","type":"ui_gauge","z":"8a4c53f2.6b294","name":"temp","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1431.2060546875,"y":365.68243408203125,"wires":[]},{"id":"e14d9d11.726938","type":"mqtt in","z":"8a4c53f2.6b294","name":"check movement sensor","topic":"","qos":"2","broker":"","x":993.71435546875,"y":194.57147216796875,"wires":[["c7efec20.82ec18"]]},{"id":"32912492.a5e6c4","type":"mysql","z":"8a4c53f2.6b294","mydb":"","name":"edge check: control value and output punching","x":972.2222900390625,"y":124.76195526123047,"wires":[["a9830214.6a2be8"]]},{"id":"5a926eb0.0bc92","type":"mysql","z":"8a4c53f2.6b294","mydb":"","name":"edge check: save control value and output milling","x":1518.571533203125,"y":752.857177734375,"wires":[["de3604de.30d6a"]]},{"id":"c2b725bd.27354","type":"mysql","z":"8a4c53f2.6b294","mydb":"","name":"save temp data and output","x":1501.4285888671875,"y":407.14288330078125,"wires":[["ce320cf7.7387d"]]},{"id":"612fcace.de78ac","type":"mysql","z":"8a4c53f2.6b294","mydb":"","name":"save outcome","x":2154.7618476019966,"y":570.1588439941406,"wires":[["e13b8e6d.4d82d"]]},{"id":"a9830214.6a2be8","type":"ui_text","z":"8a4c53f2.6b294","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1287.797607421875,"y":128.05557250976562,"wires":[]},{"id":"ce320cf7.7387d","type":"ui_text","z":"8a4c53f2.6b294","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1720.7935112847222,"y":406.9841139051649,"wires":[]},{"id":"de3604de.30d6a","type":"ui_text","z":"8a4c53f2.6b294","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1793.3333740234375,"y":752.698486328125,"wires":[]},{"id":"623adf74.6811d","type":"switch","z":"8a4c53f2.6b294","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":769.5713806152344,"y":473.39288330078125,"wires":[["3fb703db.cdf544","c08483ed.dd10b8","f62e9472.44e3b8"]]},{"id":"858dcb95.7b9358","type":"switch","z":"8a4c53f2.6b294","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":1391.2857666015625,"y":564.2857360839844,"wires":[["a14a06d1.8b636","b7acea42.d84d3","85292043.491c78"]]},{"id":"c7efec20.82ec18","type":"join","z":"8a4c53f2.6b294","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","x":1234.28564453125,"y":245.71426391601565,"wires":[["f8310caa.113488"]]},{"id":"60ca97f6.46d2c","type":"join","z":"8a4c53f2.6b294","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","x":1791.4285888671875,"y":518.5714721679688,"wires":[["b54dd5b.1dcc0a8"]]},{"id":"85292043.491c78","type":"function","z":"8a4c53f2.6b294","name":"stock","func":"/* \n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1608.888916015625,"y":572.2222290039062,"wires":[["bc9ccef6.3864c"]]}]
