V01_NodeRED
[{"id":"8a4c53f2.6b294","type":"tab","label":"Flow 3"},{"id":"ab266118.bdefd","type":"inject","z":"8a4c53f2.6b294","name":"input punching","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":127,"y":498,"wires":[["832490a9.9c2cd"]]},{"id":"e02b58ff.254cd","type":"function","z":"8a4c53f2.6b294","name":"edge check punching","func":"/*Produziert 5 Teile pro Arbeitsschritt.\n2 für das Schweißen, 3 für das Fräsen.\n\nTeile sind Sicherheitsrelevant.\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\n\nreturn msg;","outputs":1,"noerr":0,"x":522.1269226074219,"y":499.4919738769531,"wires":[["f62e9472.44e3b8","c08483ed.dd10b8","3fb703db.cdf544","32912492.a5e6c4"]]},{"id":"f62e9472.44e3b8","type":"gremlin-query","z":"8a4c53f2.6b294","name":"qualified worker","database":"","gremlin":"/*Wer kann den Sensor checken und \nwer kennt sich mit den Komponenten\nder Stanze aus?*/\n\ng.V().next()","x":759.7777099609375,"y":243.77774810791016,"wires":[["f8310caa.113488"]]},{"id":"f8310caa.113488","type":"function","z":"8a4c53f2.6b294","name":"check condition and find names","func":"/*Ggfs. Bedingung:\nJemand muss im Büro sein (Arbeiter verfügbar)*/\n\nreturn msg;","outputs":1,"noerr":0,"x":993.2696533203125,"y":243.93646240234375,"wires":[["c6e4e47f.9df268"]]},{"id":"c45fb1a7.948c38","type":"function","z":"8a4c53f2.6b294","name":"temp check","func":"/*Brauch immer 2 Teile von der Stanze\n\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\nreturn msg;","outputs":1,"noerr":0,"x":935.96826171875,"y":475.3650207519531,"wires":[["a14a06d1.8b636","51e9c53f.05a464","ac164e9.846a63","c2b725bd.27354"]]},{"id":"56ca3c7f.91eb14","type":"function","z":"8a4c53f2.6b294","name":"edge check milling","func":"/*Brauch 1 Teil von der Stanze.\n\nWenn Grenzwert überschritten wird, muss ein \nqualifizierter Angestellter benachrichtigt werden\nund das Teil wird entsorgt.\nWenn Teil OK, dann weiter.*/\n\nreturn msg;","outputs":1,"noerr":0,"x":911.8411865234375,"y":710.2857055664062,"wires":[["b7acea42.d84d3","51e9c53f.05a464","5a926eb0.0bc92"]]},{"id":"a14a06d1.8b636","type":"gremlin-query","z":"8a4c53f2.6b294","name":"qualified worker","database":"","gremlin":"/*Wer kann den Sensor checken und \nwer kennt sich mit den Komponenten\nder Stanze aus?*/\n\ng.V().next()","x":1201.365234375,"y":415.2063903808594,"wires":[["b54dd5b.1dcc0a8"]]},{"id":"b54dd5b.1dcc0a8","type":"function","z":"8a4c53f2.6b294","name":"check condition and find names","func":"/*Teste vorher Temperatursensor im Büro:\nWenn zwischen -30 und +30°C,\ndann ist der Sensor OK*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1467.714111328125,"y":411.07928466796875,"wires":[["7adcc489.b435b4"]]},{"id":"e0722bf3.faf46","type":"mqtt in","z":"8a4c53f2.6b294","name":"office temp-sensor check","topic":"","qos":"2","broker":"","x":1176.9205322265625,"y":342.8253479003906,"wires":[["b54dd5b.1dcc0a8"]]},{"id":"b7acea42.d84d3","type":"gremlin-query","z":"8a4c53f2.6b294","name":"qualified worker","database":"","gremlin":"/*Wer kann den Sensor checken und \nwer kennt sich mit den Komponenten\nder Stanze aus?*/\n\ng.V().next()","x":1148.508056640625,"y":706.9524536132812,"wires":[["2e3e3e9a.e1242a"]]},{"id":"2e3e3e9a.e1242a","type":"function","z":"8a4c53f2.6b294","name":"find names","func":"/*Ggfs. Bedingung:\nJemand muss im Büro sein (Arbeiter verfügbar)*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1387.7142333984375,"y":705.6825561523438,"wires":[["5dbfd012.a174e8"]]},{"id":"51e9c53f.05a464","type":"function","z":"8a4c53f2.6b294","name":"assembly","func":"/*2 geschweißte Teile und 6 gefräste Teile\nwerden benötigt. Prodziert immer 2 fertige Teile.\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1309.77783203125,"y":593.1427917480469,"wires":[["bc9ccef6.3864c"]]},{"id":"d9b26e22.352868","type":"function","z":"8a4c53f2.6b294","name":"final inspection","func":"/* Wenn ein Fehler auftritt, nimmt\ndie Montage für 30 Sekunden keinen Auftrag\nmehr an und arbeitet nach.\nMontagezeit beträgt 5 Sekunden.\nWarteschlange der Teile wird gelistet.\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":1683.9049614800347,"y":591.0792541503906,"wires":[["e13b8e6d.4d82d","612fcace.de78ac"]]},{"id":"832490a9.9c2cd","type":"ui_switch","z":"8a4c53f2.6b294","name":"error punching","label":"switch","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310.4761657714844,"y":499.3333435058594,"wires":[["e02b58ff.254cd"]]},{"id":"c08483ed.dd10b8","type":"ui_switch","z":"8a4c53f2.6b294","name":"error milling","label":"switch","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":708.8253784179688,"y":711.2381591796875,"wires":[["56ca3c7f.91eb14"]]},{"id":"3fb703db.cdf544","type":"ui_switch","z":"8a4c53f2.6b294","name":"error welding","label":"switch","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":760.888916015625,"y":472.6666564941406,"wires":[["c45fb1a7.948c38"]]},{"id":"bc9ccef6.3864c","type":"ui_switch","z":"8a4c53f2.6b294","name":"error assembly","label":"switch","group":"","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1486.4445122612847,"y":593.1427917480469,"wires":[["d9b26e22.352868"]]},{"id":"c6e4e47f.9df268","type":"ui_toast","z":"8a4c53f2.6b294","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"names of qualified workers","x":1260.888916015625,"y":242.03173065185547,"wires":[]},{"id":"7adcc489.b435b4","type":"ui_toast","z":"8a4c53f2.6b294","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"names of qualified workers","x":1744.2222900390625,"y":410.6031494140625,"wires":[]},{"id":"5dbfd012.a174e8","type":"ui_toast","z":"8a4c53f2.6b294","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"names of qualified workers","x":1657.0794677734375,"y":703.619140625,"wires":[]},{"id":"e13b8e6d.4d82d","type":"ui_chart","z":"8a4c53f2.6b294","name":"pieces per time","group":"","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1872.3173149956597,"y":590.7618103027344,"wires":[[],[]]},{"id":"ac164e9.846a63","type":"ui_gauge","z":"8a4c53f2.6b294","name":"temp","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1175.4918212890625,"y":457.1109924316406,"wires":[]},{"id":"e14d9d11.726938","type":"mqtt in","z":"8a4c53f2.6b294","name":"check movement sensor","topic":"","qos":"2","broker":"","x":721.4285888671875,"y":194.5714340209961,"wires":[["f8310caa.113488"]]},{"id":"32912492.a5e6c4","type":"mysql","z":"8a4c53f2.6b294","mydb":"","name":"save control value and output punching","x":847.1429443359375,"y":524.2857666015625,"wires":[[]]},{"id":"5a926eb0.0bc92","type":"mysql","z":"8a4c53f2.6b294","mydb":"","name":"save control value and output milling","x":1221.4285888671875,"y":755.7142944335938,"wires":[[]]},{"id":"c2b725bd.27354","type":"mysql","z":"8a4c53f2.6b294","mydb":"","name":"save temp data and output","x":1245.71435546875,"y":498.5714416503906,"wires":[[]]},{"id":"612fcace.de78ac","type":"mysql","z":"8a4c53f2.6b294","mydb":"","name":"save outcome","x":1874.28564453125,"y":631.4285888671875,"wires":[[]]}]
